* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  */
/* wrapper  */
/*  */
.wrapper {
    position: relative;
    height: 100vh;
}

/*  */
/* header */
/*  */
header  {
    background-color: black;
    height: 40px;
}

.box.icons {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
}

.box.icons a {
    font-size:  12px;
    background-color: grey;
    padding: 3px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 3px;
}




/*  */
/* main  */
/*  */
main {
    background-color: aqua;
    height: calc(100% - 40px - 100px);
    overflow: scroll;
    
}

/*  */
/* footer  */
/*  */
footer  {
    background-color: rgb(184, 19, 19);
    height: 100px;
    display: flex;
    justify-content: space-between;

}

/* debug */
/* footer .col {
    border: black 1px solid;
    display: flex;
}

.box.icons {
    border: grey 1px solid;
}

.box.icons a {
    background-color: grey;
    } */


